<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="table-responsive">
    <form ng-submit="check()">
        <table class="table">
            <caption>风险票据查询</caption>
            <thead>
            <tr>
                <th>票号</th>
                <th>状况</th>
            </tr>
            </thead>

            <tr ng-repeat='r in result'>
                <td>{{r.piaoid}}</td>
                <td>{{r.info}}</td>
            </tr>
        </table>
        <button type="submit" class="btn btn-lg btn-info"> 检查所有票据的有效性 </button>
    </form>
</div>