<meta name="viewport" content="width=device-width, initial-scale=1" />

<script type="text/ng-template" id="viewSinglePiao.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">库存票据详情</h3>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <td>票号: </td>
                <td>{{currentPiao.idNum}}</td>
            </tr>
            <tr>
                <td>银行: </td>
                <td>{{currentPiao.bank}}</td>
            </tr>
            <tr>
                <td>种类: </td>
                <td>{{currentPiao.type}}</td>
            </tr>
            <tr>
                <td>金额: </td>
                <td>{{currentPiao.amount}}</td>
            </tr>
            <tr>
                <td>到期日: </td>
                <td>{{currentPiao.endDate| date:'MM/dd/yyyy'}}</td>
            </tr>
        </table>

        <img width="100%" hight="100%" src="{{currentPiao.headerPhoto}}" />

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="continue()">返回</button>
    </div>
</script>

<header>
    <a href="javascript:;" class="search-icon"></a>
    <h3 class="text-center">实时库存</h3>
</header>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>金额（万）</th>
            <th>到期日</th>
            <th>银行</th>
            <th>种类</th>
        </tr>


        <tr ng-repeat='piao in piaos'>
            <td ng-click="popupDetail(piao._id)">{{piao.amount}}</td>
            <td ng-click="popupDetail(piao._id)">{{piao.endDate | date:'MM/dd/yyyy'}}</td>
            <td ng-click="popupDetail(piao._id)">{{piao.bank}}</td>
            <td ng-click="popupDetail(piao._id)">
                {{piao.type| checkType}}
            </td>
        </tr>
    </table>
</div>

<footer>
    <p><span class="glyphicon glyphicon-credit-card"></span> 票据总数: {{piaos.length}} 个 </p>
    <p><span class="glyphicon glyphicon-euro"></span> 票据总金额: {{amountTotal}} 万元 </p>
</footer>