<div class="jumbotron text-center">
    <h1>华栩金融 汇票统计系统</h1>
    <p>让你的对账时间更少, 喝茶聊天的时间更多!</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>汇票录入1</h3>
            <p>随时随地使用手机/电脑录入汇票</p>

        </div>
        <div class="col-sm-4">
            <h3>汇票速查</h3>
            <p>便利的统计汇票信息, 让本系统节省您的计算时间</p>
        </div>
        <div class="col-sm-4">
            <h3>一键检测</h3>
            <p>检测汇票有效性, 仅需1Click!</p>
        </div>
    </div>
</div>

