<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <style>
        #manager {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
        }
        
        #manager td,
        #check th {
            font-size: 1em;
            border: 1px solid #F0F0F0;
            padding: 3px 7px 2px 7px;
        }
        
        #manager th {
            font-size: 1.1em;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 4px;
            background-color: #337ab7;
            color: #ffffff;
        }
        
        #manager tr.alt td {
            color: #000000;
            background-color: #CCFFCC;
        }
    </style>
</head>

<script type="text/ng-template" id="modifySinglePiao.html">
    <div class="modal-content">

        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">更改票据</h3>
        </div>
        <div class="modal-body">
            <form>
                <label>票号</label>
                <input type="text" class="form-control" required ng-model="modifyPiao.idNum">
                <label>承兑银行名称</label>
                <input type="text" class="form-control" required ng-model="modifyPiao.bank">
                <label>金额（万元）</label>
                <input type="text" class="form-control" required ng-model="modifyPiao.amount">
                <label>票据类型:</label>
                <select class="form-control" ng-model="modifyPiao.type" ng-options="p for p in piaotypes"></select>
                <label>入票日期</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="modifyPiao.addDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                </p>
                <label>到期时间</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="modifyPiao.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button></span>
                </p>
                <div>
                    <input type="radio" id="isSoldOn" name="isSold" value="true" ng-click="setSold()"> <label for="isSoldOn">已经卖出</label>
                    <input type="radio" id="isSoldOff" name="isSold" value="false" checked="true" ng-click="cancelSold()"> <label for="isSoldOff">尚未卖出 </label>
                    <div ng-show="modifyPiao.isSold">
                        <label>卖出时间</label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="modifyPiao.soldDate" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-success" ng-click="save()">保存</button>
            <button class="btn btn-primary" type="button" ng-click="continue()">返回</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="viewSinglePiao.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">库存票据详情</h3>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="manager">
            <tr>
                <td>票号: </td>
                <td>{{currentPiao.idNum}}</td>
            </tr>
            <tr>
                <td>银行: </td>
                <td style="white-space:pre-wrap; word-wrap:break-word">{{currentPiao.bank}}</td>
            </tr>
            <tr>
                <td>种类: </td>
                <td>{{currentPiao.type| checkType}}</td>
            </tr>
            <tr>
                <td>金额: </td>
                <td>{{currentPiao.amount}}</td>
            </tr>
            <tr>
                <td>到期日: </td>
                <td>{{currentPiao.endDate| date:'yyyy/MM/dd'}}</td>
            </tr>
            <tr>
                <td>是否出库:</td>
                <td>{{currentPiao.isSold| yesNoFilter }}</td>
            </tr>
            <tr>
                <td>出票日期</td>
                <td>{{currentPiao.soldDate| date:'yyyy/MM/dd'}}</td>
            </tr>
            <tr>
                <td>入票日期</td>
                <td>{{currentPiao.addDate| date:'yyyy/MM/dd'}}</td>
            </tr>
        </table>

        <img width="100%" hight="100%" src="{{currentPiao.headerPhoto}}" />

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="continue()">返回</button>
    </div>
</script>

<header>
    <a href="javascript:;" class="search-icon"></a>

    <h4 class="text-center">管理库存</h4>
    <!--<button type="button" class="btn btn-lg btn-info" ng-click="getCurrentPiaos()"> 从服务器 获取/刷新 数据</button>

    <h3 class="text-center">实时库存</h3> -->
</header>

<div class="table-responsive">
    <table class="table table-striped" id="manager">
        <tr>
            <th ng-click="orderByAmount()">金额(万)<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th ng-click="orderByEndDate()">到期日 <i class="fa fa-sort" aria-hidden="true"></i></th>
            <th ng-click="orderByBank()">银行<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th ng-click="orderByType()">种类<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th ng-show="isAdmin">Actions</th>
        </tr>


        <tr ng-repeat='piao in piaos'>
            <td ng-click="popupDetail(piao._id)">{{piao.amount}}</td>
            <td ng-click="popupDetail(piao._id)">{{piao.endDate | date:'yyyy/MM/dd'}}</td>
            <td ng-click="popupDetail(piao._id)" style="word-wrap: break-word;max-width: 75px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                {{piao.bank}}</td>
            <td ng-click="popupDetail(piao._id)">{{piao.type| checkType}}</td>
            <td ng-show="isAdmin">
                <div class="btn-group" uib-dropdown keyboard-nav>
                    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-link" uib-dropdown-toggle>操作 <span class="caret"></span></button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                        <li role="menuitem" ng-click="popupDetail(piao._id)">查看</li>
                        <li role="menuitem" ng-click="popupModify(piao._id)">修改</li>
                        <li role="menuitem" ng-click="delPiao(piao._id)">删除</li>
                        <li class="divider"></li>
                    </ul>
                </div>
            </td>

        </tr>
    </table>
</div>

<footer>
    <p><span class="glyphicon glyphicon-credit-card"></span> 票据总数: {{piaos.length}} 个 </p>
    <p><span class="glyphicon glyphicon-euro"></span> 票据总金额: {{amountTotal}} 万元 </p>
</footer>