/*@media screen and (max-device-width: 400px) {
    　　　　.column {
                float: none;
                width:auto;
        　　　　}
    　　　　#sidebar {
                display:none;
        　　　　}
    　　}
*/